body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #64badd;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

p {
    margin: 0 0 5px;
}

.faq {
    max-width: 400px;
    margin: 20px auto;
}
.faq-item {
    margin: 10px 0 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 7px 7px rgba(0, 0, 0, 0.3);
  
}

.faq-title {
    display: block;
    cursor: pointer;
    padding: 10px 15px;
  
    position: relative;
}

.faq-title:after {
    content: "+";
    display: block;
    font-size: 25px;
    position: absolute;
    top: 5px;
    right: 10px;
}

.faq-title:hover {
    background-color: #000000;
    color: #64badd;
    
   
}


.faq-title:hover ~ .faq-text {
    display: block;
    background-color: #000000;
    color: #64badd;
     
}

.faq-input:hover ~ .faq-title:after {
    content: "\02DF";
    font-weight: 550;
    display: block;
    font-size: 32px;
    position: absolute;
    top: 4px;
    right: 12px;

}



.faq-input:checked ~ .faq-title {
    background-color: #000000;
    color: #64badd;
    
}

.faq-input:checked ~ .faq-title:after {
    content: "\02DF";
    font-weight: 550;
    display: block;
    font-size: 32px;
    position: absolute;
    top: 4px;
    right: 12px;

}

.faq-input {
    width: 0;
    height: 0;
    appearance: none;
    position: absolute;
}

.faq-input:checked ~ .faq-text {
    display: block;
    background-color: #000000;
    color: #64badd;
}


.faq-text {
    display: none;
    font-size: 14px;
    padding: 10px 15px;
    cursor: pointer;
    
}

.picture {
    display: block;  
    width: 100px;  
    margin-left: auto;
    margin-right: auto;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.faq-input:checked ~ .faq-text > .picture {
    display: block; 
    width: 350px;
}

/*
.faq-title:hover ~ .faq-text > .picture {
    display: block; 
    width: 350px;
}
*/